extends layout

block content
  .panel-heading
    h2 About JogTrax
  .panel-body
    .text-center
      h3 You jog.
      h3 We track.
      br
      h2
        a(href='/register') Get started!
      br