extends layout

block scripts
  script(src='js/api.js')

block content
  .panel-heading
    h2.welcome Settings
    a.logout(href='/logout') Log out
  .panel-body
    #csrf.hidden= _csrf
    form(action='/settings', method='post')
      input(type='hidden', name='_csrf', value=_csrf)
      .form-group
        label(for='name') Your name:
        #name= user.name
      .form-group
        label(for='email') Your email:
        input#email(name='email', value=user.email)
      input(type='submit', value='Update')