extends layout

block content
  .panel-heading
    h3 JogTrax Terms & Conditions
  .panel-body
    .col-sm-11
      h4.spaced By registering with JogTrax and using our service, you agree to the following terms and conditions:
      h5.spaced
        ul
          li You may choose to terminate your account and delete your data at any time, for any reason.
          li You may choose to share some or all of your data to improve the JogTrax service for your own experience and that of other users; you may opt out of sharing any or all of your data with other JogTrax users at any time.
          li You may not use the service to engage in marketing and advertising, or to publish profane content.
          li JogTrax owns all intellectual property rights to data and materials provided by this service.
          li You will not attempt to reverse engineer the service, cause disruption of service to other users, or use the site in any way that intentionally negatively impacts user experience.
          li JogTrax reserves the right to terminate access for users determined to be in breach of these terms and conditions.
          li JogTrax service is provided "as is," with all faults, and JogTrax expresses no representations or warranties related to our services; no information provided by our service shall be interpreted as professional health advice.
      h6.text-muted Last updated: 
        em 1 April 2018
      h3.text-center
        a(href='/register') Get started!
      br